.movie-container {
      h4 {
            font-size: 18px;
      }
}

main {
      h3 {
            border-left: 5px solid $red;
            padding: 8px 0 8px 15px;
            margin-left: 100px;
      }
}

footer {
      h3 {
            color: $white;
            span {
                  color: $red;
            }
      }

      h3.mb30 {
            margin-bottom: 30px;
      }

      h3.red {
            color: $red
      }
      h4 {
            color: $white;
            text-transform: uppercase;
            margin-bottom: 30px;
      }
}

@media #{$small} {
      main {
            h3 {
                  margin-left: 10px;
            }
      }
}