@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";
@import "_colors.scss";
@import "_headings.scss";

/* COOKIE */

body {
      scroll-behavior: smooth;
      //HEADER

      #logo-top {
            font-size: 50px;
        }

        #nav-search {
            background: transparent;
            background-image: url("../img/loupe.svg");
            background-position: right 5% top 50%;
            background-size: 8%;
            background-repeat: no-repeat;
            height:30px;
            padding-left:25px;

        }

        #headerFooter {
            background-color: $red;
        }

        #headerFooterList {
            list-style: none;
        }

        #navigation-fixed {
            position: fixed;
            z-index: 9999;
            transition: all 0.2s linear;
            font-size: 24px;
      }

      .navbar {
            background-color: rgba($color: #000000, $alpha: 0.7)!important;
            max-height: 10%;
      }

        .h2Header {
            font-size: 45px;
            text-transform: uppercase;
        }

        .carousel-item {
            height: 100vh;
            min-height: 350px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000;
        }

        .redLetters {
            color: $red;
        }

        .jumbotron {
            padding: 0;
            margin: 0;
        }

        .headerFooterItems {
            display: inline-block;
            color: $white;
            vertical-align: middle;;
            font-size: 20px;
            padding: auto 15px;
        }

      div#socials {
            cursor: pointer;
            position: fixed;
            top: 50%;
            left: 0;
            z-index: 9999;

            .social-slider {
                  width: 200px;
                  height: 60px;
                  margin: 5px 0;
                  padding: 5px 15px;
                  border-radius: 0 50px 50px 0;

                  color: #fff;
                  font-weight: bold;
                  font-size: 22px;

                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  align-items: center;

                  transform: translateX(-140px);
                  transition: all .4s;

                  .i-cont {
                        background-color: #fff;
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        i {
                              font-size: 22px;
                        }
                  }
            }

            .social-slider:hover {
                  transform: translateX(0);
            }

            #social-twitter {
                  background-color: $twitter;
                  i {
                        color: $twitter;
                  }
            }
            #social-facebook {
                  background-color: $facebook;
                  i {
                        color: $facebook;
                  }
            }
            #social-dribbble {
                  background-color: $dribbble;
                  i {
                        color: $dribbble;
                  }
            }
            #social-google-plus {
                  background-color: $google-plus;
                  i {
                        color: $google-plus;
                  }
            }
      }

      //MAIN

      main {

            .galleries {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  align-items: center;
                  // width: 1300px;
                  margin: 0 auto;
            }

            #top-movies {
                  justify-content: space-around;
                  margin: 50px auto;
                  border: 3px solid $lightgray;
            }

            div#btns-container {

                  button {
                        margin: 5px 2.5px;
                        width: 100px;
                  }
                  button.btn-filter-off {
                        background-color: $lightgray;
                  }
            }

            section#featured-movies, section#shop-movies {
                  justify-content: center;
            }

            #btn-load-more {
                  width: 180px;
            }

            .movie-container {
                  width: 200px;
                  height: 350px;
                  display: flex;
                  flex-direction: column;
                  box-shadow: 5px 5px 5px rgba($gray, $alpha: 0.6);
                  cursor: default;
                  
                  .affiche {
                        width: 100%;
                        height: 75%;
                        position: relative;
                        background-image: url("https://via.placeholder.com/220X262");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        text-decoration: none;
                        cursor: pointer;
                        p {
                              position: relative;
                              top: 0;
                              min-width: 50%;
                              width: max-content;
                              height: 15%;
                              text-align: left;
                              padding-left: 10px;
                              background-color: rgba($red, $alpha: 0.8);
                              color: #fff;
                        }
                  }

                  .bottom-movie {
                        width: 100%;
                        height: 12.5%;
                        background-color: $lightgray;
                        font-weight: bold;
                        .price {
                              color: $red;
                        }
                  }

            }

      }


      //FOOTER
      footer {
            background-color: $black;
            padding: 50px;
            margin-top: 100px;

            section#newsletters {
                  margin-bottom: 50px;

                  div {
                        div {
                              input {
                                    height: 40px;
                                    width: 400px;
                                    max-width: 100%;
                                    padding-left: 20px;
                                    margin-bottom: 10px;
                              }
                              button {
                                    height: 40px;
                              }
                        }
                  }
            }

            section#footer-lists {
                  border-bottom: 2px solid $gray;
                  margin-bottom: 50px;
                  padding-bottom: 25px;
                  div.row {
                        div.col {
                              min-height: 300px;
                              ul {
                                    list-style: none;
                                    li {
                                          color: $gray;
                                    }
                              }

                              ul#footer-latest {
                                    li {
                                          img {
                                                display: inline-block;
                                                margin-right: 20px;
                                          }
                                          p {
                                                display: inline-block;
                                          }
                                    }
                              }

                              ul#footer-genres {
                                    li {
                                          display: inline-block;
                                          color: $white;
                                          background-color: $gray;
                                          padding: 5px 8px;
                                          border-radius: 3px;
                                          margin: 3px 1.5px;
                                          cursor: pointer;
                                          transition: all .3s;
                                    }

                                    li:hover {
                                          transform: scale(1.1);
                                    }
                              }
                        }
                  }
            }

            section#connect-us {
                  border-top: 2px solid $gray;
                  margin-top: 50px;
                  padding-top: 25px;
                  div {
                        div {
                              
                              button {
                                    width: 45px;
                                    height: 45px;
                                    background-color: transparent;
                                    color: $white;
                                    border: 1px solid $gray;
                                    font-size: 20px;
                                    margin: 2px;
                                    transition: all .3s;
                              }

                              button:hover {
                                    transform: scale(1.1);
                              }

                              #facebook-btn:hover {
                                    color: $facebook;
                                    border-color: $facebook;
                              }
                              #twitter-btn:hover {
                                    color: $twitter;
                                    border-color: $twitter;
                              }
                              #linkedin-btn:hover {
                                    color: $linkedIn;
                                    border-color: $linkedIn;
                              }
                              #youtube-btn:hover {
                                    color: $youtube;
                                    border-color: $youtube;
                              }
                              #google-plus-btn:hover {
                                    color: $google-plus;
                                    border-color: $google-plus;
                              }
                        }

                  }
            }

      }

      #arrow-up {
            display: none;
            position: fixed;
            bottom: 50px;
            right: 50px;

            height: 60px;
            width: 60px;
            padding: 10px 10px 5px 10px;
            border: 5px solid $red;
            border-radius: 50px;
            background-color: rgba($color: #000000, $alpha: 0.7);

            cursor: pointer;
            img {
                  width: 100%;
                  height: 80%;
                  margin: 0 auto;
            }
      }
}